VITE_API_URL=http://localhost:8000

IS_DEBUG=True
DEBUG_FRONTEND=True

DJANGO_SECRET_KEY='CHANGE-THIS-IN-PRODUCTION-django-insecure-4#0!#$y$nhi83cpx_+z+-0r=b@li^csxtj=7adx!js5_#d18bt'

POSTGRES_DB=raise
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_HOST=db
POSTGRES_PORT=5432

DJANGO_SUPERUSER_USER=admin
DJANGO_SUPERUSER_PASSWORD=admin
DJANGO_SUPERUSER_EMAIL=admin@example.com

GITHUB_TOKENS=<YOUR_GITHUB_TOKEN>

JIRA_URL=<https://your-domain.atlassian.net>
JIRA_EMAIL=<YOUR_JIRA_EMAIL>
JIRA_API_TOKEN=<YOUR_JIRA_API_TOKEN>

STACK_API_KEY=<YOUR_STACK_API_KEY>
STACK_ACCESS_TOKEN=<YOUR_STACK_ACCESS_TOKEN>